/* Añadir márgenes globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Márgenes generales para el cuerpo */
body {
    margin: 20px; /* Márgenes para el cuerpo de la página */
}

/* Márgenes para el header */
header {
    margin-bottom: 20px; /* Márgenes en la parte inferior del header */
}

/* Márgenes para las secciones principales */
#content {
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
}



